main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #e5c7fa;
    justify-content: space-evenly;
    align-items: stretch;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h2 {
    color: #6a0dab;
    font-weight: 400;
}

button {
    border: 1px solid #6a0dab;
    background-color:  #d6a0fb;
    color: white;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#contenedorDeProductos h2{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

#contenedorDeProductos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 2rem;
}

.tarjetaDeProducto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;
    text-align: center;
    border: 1px solid #6a0dab;
    height: auto;
}

.tarjetaDeProducto img {
    height: 140px;
    object-fit: contain;
    margin-bottom: .5rem;
}

.tituloDeProducto, 
.precioDeProducto {
    color:#6a0dab;   
}
@media (max-width: 600px) {
    button {
        padding: 0.5rem;
    }
}